<h1 class="text-white pt-10 mt-10 justify-content-center">Work History</h1>
<div class="container-fluid">
    <p class="text-white ps-10 pt-10 mt-10"> - Dust & Storm: 2020 January - 2022 January</p>
    <p class="text-white pt-10 mt-10"> - ARTS: 2022 September - 2022 December</p>
</div>
<hr>
<h1 class="text-white pt-10 mt-10 justify-content-center">Skills</h1>
<div class="container-fluid">
    <p class="text-white ps-10 pt-10 mt-10"> - HTML5/CSS/JS</p>
    <p class="text-white pt-10 mt-10"> - TS/Angular</p>
    <p class="text-white pt-10 mt-10"> - .Net/Blazor</p>
</div>

