button {
    height: 100%;
    width: 100%;
    background-color: #71706E;
    display: flex;
    justify-content: center;
    align-items:center;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}