<div class="wrapper">
    <div class="container">
        <h1 class="text-white pt-10 mt-10 justify-content-center">Column 1</h1>
        <div class="container-fluid">
            <p class="text-white ps-10 pt-10 mt-10">Hi. My name is Nuri Kaldybek</p>
            <p class="text-white pt-10 mt-10">Email: nurbalakairatovna@gmail.com</p>
            <p class="text-white pt-10 mt-10">Discord: OhWonderFox#1397</p>
            <p class="text-white pt-10 mt-10">Phone: 87073345737</p>
        </div>
    </div>
    <div class="container">
        <h1 class="text-white pt-10 mt-10 justify-content-center">Column 2</h1>
        <div class="container-fluid">
            <p class="text-white ps-10 pt-10 mt-10">Hi. My name is Nuri Kaldybek</p>
            <p class="text-white pt-10 mt-10">Email: nurbalakairatovna@gmail.com</p>
            <p class="text-white pt-10 mt-10">Discord: OhWonderFox#1397</p>
            <p class="text-white pt-10 mt-10">Phone: 87073345737</p>
        </div>
    </div>
    <div class="container">
        <h1 class="text-white pt-10 mt-10 justify-content-center">Column 3</h1>
        <div class="container-fluid">
            <p class="text-white ps-10 pt-10 mt-10">Hi. My name is Nuri Kaldybek</p>
            <p class="text-white pt-10 mt-10">Email: nurbalakairatovna@gmail.com</p>
            <p class="text-white pt-10 mt-10">Discord: OhWonderFox#1397</p>
            <p class="text-white pt-10 mt-10">Phone: 87073345737</p>
        </div>
    </div>
</div>


