<div class="wrapper">
    <div class = "right-side">
        <p *ngIf="!winner && !isDraw && !freshpage">White coins: {{cWhite}}</p>
        <p *ngIf="!winner && !isDraw && !freshpage">Black coins: {{cBlack}}</p>
    </div>
    <div class="outer-cont">
        <h2 *ngIf="winner">Player {{winner}} won!</h2>
        <h2 *ngIf="freshpage">Let's play Reversi</h2>
        <h2 *ngIf="!winner && !isDraw && !freshpage">Current Player: {{player}}</h2>
        <button *ngIf="freshpage" (click)="newGame()">Start Game</button>
    
        <main *ngIf="!isDraw">
            <app-reversi-square *ngFor="let val of squares; let i=index" [value]="val" (click)="makeMove(i)"></app-reversi-square>
        </main>
    </div>
</div>

