*{
  margin: 0;
  padding: 0;

}
body {
 /* background-color: rgba(56,51,88,255);*/
 background: linear-gradient(to bottom left, #00ffcc 0%, #cc99ff 100%);
}

.text-info:hover {
  background-color: darkgray;
}

.text-info:active {
  background-color: rgba(56,51,88,255);
  transform: scale(0.95);
}

.active {
  background-color: rgba(56,51,88,255);
}


