/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap CSS file. */

/*.gradient-custom {
  background: #6a11cb;
  background: -webkit-linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
  );
  background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
  );
}*/

body {
  background-color: rgba(56,51,88,255);
}

.text-info:hover {
  background-color: darkgray;
}

.text-info:active {
  background-color: rgba(56,51,88,255);
  transform: scale(0.95);
}

.active {
  background-color: rgba(56,51,88,255);
}


